body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}

header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 50px 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

h1, h2, h3 {
  color: #007bff;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #007bff;
  color: #fff;
}

.logo-container {
  position: absolute;
  left: 0;
  animation: moveLogo 2s forwards; /* Apply animation */
}

@keyframes moveLogo {
  from {
      left: 0; /* Start from the left side */
  }
  to {
      left: 50%; /* Move to the center horizontally */
      transform: translateX(-50%); /* Adjust to center the logo */
  }
}

.logoNE {
  width: 15%;
  height: 15%;
  transition: transform 0.5s ease; /* Smooth transition if needed */
}